/**
* Public css
 */
.bitots-fixed .has-background tbody td {
    background: red;
    color: #fff;
    text-align: center;
}

div#bitots-notification-bar-spacer {
    line-height: 0;
    margin-top: 20px;
    position: relative;
    left: 5%;
}
.bit_ots-message {
    padding-left: 10px;
}